/* <==============================================================================> */
* {
  box-sizing: border-box;
}
:root {
  --font-heading: "Sen", "sans-serif";
  --primary-color: #ffb900;
}
html {
  font-size: 62.5%;
}
/* Khôi phục lại cỡ chữ mặc định tính theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.heading-lv2 {
  color: #171100;

  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27; /* 126.316% */
  letter-spacing: -0.76px;
}
.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0px 16px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
  /* border-bottom: #110f08; */
}
/* line-clamp để giới hạn text trong phần tử  */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp.line-2 {
  --line-clamp: 2;
}
.break-all {
  word-break: break-all;
}
/* <==============================================================================> */

/* ============header============ */
.header {
  background: #fffcf4;
}

.header.fixed {
  z-index: 1;
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36 0 8;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
  transition: 0.3s;
}

.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}
.header .btn-sign-up {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}
.btn.btn-sign-up:hover {
  color: #171100;
  background: rgb(177, 172, 172);
  transition: 0.5s;
}

/* ============================== hero ======================== */
.hero {
  padding: 56 0 65 0;
  background-color: #fffcf4;
}
.hero .body {
  display: flex;
  justify-content: space-between;
}

.hero .media-block {
  width: 48%;
  position: relative;
}

/* =====================hero left============================= */
.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero-summary {
  padding: 24px;
  position: absolute;
  left: 300px;
  bottom: 70px;
  width: 270px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 20px 0px;
}
.hero-summary .items {
  display: flex;
  align-items: center;
}

.hero-summary .items + .items {
  margin-top: 22;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}
.hero-summary .icon.icon2 {
  background-color: #fcefff;
}
.hero-summary .icon.icon3 {
  background-color: #ebeaff;
}
.hero-summary .info {
  padding-left: 16px;
}
.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}
.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

/* =====================hero right============================= */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64;
}
.main-content .heading {
  width: 470px;
  color: #171100;

  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}

.main-content p.desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}
.hero .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .btn.see-courses {
  min-width: 180px;
  background-color: var(--primary-color);
  line-height: 64px;
}

.hero .watch-video {
  border: none;
  background-color: transparent;
  display: flex;
  margin-left: 28px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px dashed var(--primary-color);
}
.hero .watch-video .icon:hover {
  background: red;
  color: white;
  opacity: 0.8;
  transition: 0.5s;
}
.hero .watch-video span {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
  padding-left: 14px;
}

.hero .content-block .desc.desc2 {
  margin-top: 48px;
}

.hero .content-block .desc.desc3 {
  margin-top: 8px;
}
.hero .content-block .desc.desc3 strong {
  color: #171100;
  font-family: Sen;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.22;
  padding-right: 14px;
}
.hero .content-block .desc.desc3 strong + strong {
  margin-left: 28px;
}

/* ==========================popular====================== */

.popular {
  padding: 65px 0px;
  margin-top: 135px;
  background: #fff;
}
.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular-top .desc {
  color: #5f5b53;
  margin-top: 16px;
  width: 458px;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}
.control-btn {
  /* xoa nen button */
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: var(--primary-color) solid 1px;
  color: var(--primary-color);
}
.control-btn:hover {
  color: #fff;
  background: var(--primary-color);
}
.control-btn.next {
  margin-left: 18px;
}

.popular .course-list {
  display: flex;
  gap: 30px;
  margin-top: 55px;
  gap: 30px;
}

.popular .course-item {
  flex: 1;
  border-radius: 12px;
  background: #fff;
  border: 1px solid #e2dfda;
}

.popular .course-item:hover {
  border: 1px solid transparent;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.09);
  transition: 0.2s;
}
.popular .course-item .thumb {
  width: 100%;
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.course-item .info {
  padding: 16px 22px 22px;
}
.course-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular .course-item .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
.popular .course-item .desc.line-clamp {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.85; /* 185.714% */
  margin-top: 6px;
}
.popular .course-item .foot {
  margin-top: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular .course-item .foot .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
.popular .course-item .foot .btn.btn-book:hover {
  background: var(--primary-color);
  border: var(--primary-color) solid 1px;
  transition: 0.3s;
}

/* ==========================feedback====================== */
.feedback {
  margin-top: 135px;
  padding: 96 0;
  background: #2e2100;
}
.feedback .feedback-item {
  display: flex;
}
.feedback .info .avatar {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 50%;
}
.feedback .info:first-child .member-name {
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42; /* 141.667% */
  margin-top: 18px;
}
.feedback .info .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}
.feedback-item .info .dots {
  display: flex;
  margin-top: 28px;
  gap: 6px;
}

.feedback .info .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}
.feedback .info .dot.active{
  background-color: var(--primary-color);
  cursor: default;
}
.feedback-item .content {
  width: 66%;
  margin-left: auto;
}
.feedback-item blockquote {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54; /* 153.846% */
}
